.app-wrapper {
  background-color: rgb(240, 242, 245);
  display: grid;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  grid-template-areas:
    'h h'
    'n c';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}

.app-wrapper-content {
  width: 1037px;
  height: 100%;
  margin-right: auto;
  grid-area: c;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 0 5px;
  box-shadow: 0 0 2px 4px rgb(228, 230, 232, 0.61);
}
